@page
@model ManageBookStore.Pages.Admin.AddCategoryModel
@{
}
<div>
    @Html.Partial("AdminLayout")

    <div>
        @if (ViewData["error"] != "")
        {
            <h3 style="color:red">@ViewData["error"]</h3>
        }
        <form method="post">
            <table>
                <tr>
                    <td>Name: </td>
                    <td><input type="text" name="title" /></td>
                </tr>
                <tr>
                    <td>Code: </td>
                    <td><input type="text" name="code" /></td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td><input type="text" name="description" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button type="submit">Add</button></td>
                </tr>
            </table>
        </form>
    </div>
</div>