<div style="width=30%; float:left; border-right: 1px solid black;">
    <h1>Admin page</h1>
    <div>
        <table>
            <tr><td><a href="../">Home page</a></td></tr>
            <tr><td><a href="role">Manage role</a></td></tr>
            <tr><td><a href="books">Manage books</a></td></tr>
            <tr><td><a href="category">Manage category</a></td></tr>
            <tr><td><a href="account">Manage account</a></td></tr>
            <tr><td><a href="supplier">Manage supplier</a></td></tr>
            <tr><td><a href="order">Manage order</a></td></tr>
            <tr><td><a href="import">Manage import</a></td></tr>
            <tr><td><a href="statistic">View statistic</a></td></tr>
        </table>
    </div>
</div>