@page
@model ManageBookStore.Pages.Admin.DashBoardModel
@{
}

@*@Html.Partial("AdminLayout")*@

<div style="width=30%; float:left">
    <h1>Admin page</h1>
    <div>
        <a href="books">Manage books</a>
    </div>
</div>